.preCss{
  font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  font-size: 87.5%;
}

.beatuyfyMode {
  background: url(http://i.imgur.com/2cOaJ.png);
  background-attachment: local;
  background-repeat: no-repeat;
  padding-left: 35px;
  padding-top: 10px;
  border-color:#ccc;
  height: -webkit-fill-available !important;
}

//pres {
//  font-family: monospace;
//  background-color: #fff;
//  width: em(440);
//  margin: 4em auto;
//  padding: 0.5em;
//  border-radius: .25em;
//  box-shadow: .1em .1em .5em rgba(0,0,0,.45);
//  line-height: 0;
//  counter-reset: line;
//
//  sspan .key {
//    display: block;
//    line-height: 1.5rem;
//
//    &:before {
//      counter-increment: line;
//      content: counter(line);
//      display: inline-block;
//      border-right: 1px solid #ddd;
//      padding: 0 .5em;
//      margin-right: .5em;
//      color: #888
//    }
//  }
//}
//pre {
//  counter-reset: line;
//
//  span .indentPlaceHolder {
//    &:before {
//      counter-increment: line;
//      content: counter(line);
//      display: inline-block;
//      border-right: 1px solid #ddd;
//      padding: 0 .5em;
//      margin-right: .5em;
//      color: #888
//    }
//  }
//
//}

