.popverHeader {
  font-weight: 500;
  color: black;
  display: flex;
}


.tooltip1 {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip1 .tooltiptext {
  visibility: visible;
  max-width: 700px;
  max-height: 500px;
  background-color: #fff;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
  top: 142%;
  margin-left: -60px;
  opacity: 1;
  transition: opacity 0.3s;
  border-color: palevioletred;
  border-width: 2px;
  border-style: solid;
}

.tooltip-bottom {
  top: 135%;
  right: 5%;
  margin-left: -60px;
}

.tooltip-bottom::after {
  content: "";
  position: absolute;
  top:-19px;
  transform: scale(2.5) rotateZ(180deg);
  margin-left: -5px;
  right: 21px;
  border-width: 5px;
  border-style: solid;
  border-color: palevioletred transparent transparent transparent;
}

.table-responsive {
  max-height: 450px;
}



:global(#outerMyFundTootip) {
  right: -18px;
  left: auto;
  transform: none;
}

.showToolTip {
  display: block;
}

.hideToolTip {
  display: none;
}

@media only screen and (max-width: 765px){
  .searchPopButton {
    float: right;
  }
}
