.dynamicTable {
  max-width: 700px;
  max-height: 400px;
  left: -133px !important;
  top :113px;
}

.dynamicTableOverFlow {
  overflow:auto;
}

.dynamicTable > .popover-inner + .arrow {
  left: initial !important;
  right: 8%;
}
