.fitheight {
  height: fit-content;
}

.subHeader {
  padding: 0.3rem 1.25rem;
  background-color: #F0F3CA;
}

.string {
  color: green;
}

.number {
  color: red;
}

.hideFormatter {
  display:none
}

.showFormatter {
  display:block
}

.bodySroll {
  max-height: 80vh;
  overflow: auto;
}
