.fitheight {
  height: fit-content;
}

.subHeader {
  padding: 0.3rem 1.25rem;
  background-color: #F0F3CA;
  overflow: auto;
}

.string {
  color: green;
}

.number {
  color: red;
}

.hideFormatter {
  display:none
}

.showFormatter {
  display:block
}

.bodySroll {
  height: 80vh;
  overflow: auto;
}

.errorAnimation {
  padding-top: 2px;
  padding-bottom: 2px;
  animation: fadeIn ease 2s;
  -webkit-animation: fadeIn ease 2s;
  -moz-animation: fadeIn ease 2s;
  -o-animation: fadeIn ease 2s;
  -ms-animation: fadeIn ease 2s;
}

@keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-moz-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-webkit-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-o-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-ms-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}
